{% extends 'base.html' %}

{% block content %}
<div class="clearfix">
    <span class="left m-2" style="font-size: 20px;">Bienvenido, {{ request.user }}</span>
    <a class="btn btn-info right " href="{% url 'accounts:signout' %}"> Iniciar sesion</a>
	<a class="btn btn-info right mr-2 " href="{% url 'calendarapp:calendar' %}?{{ next_month }} "> Prox Mes >> </a>
    <a class="btn btn-info right mr-2 " href="{% url 'calendarapp:calendar' %}?{{ prev_month }}"> << Mes Anterior </a>
    <a class="btn btn-info right mr-2 " href="{% url 'calendarapp:event_new' %}"> + Nuevo evento </a>
</div>
<div style="color: rgb(250, 250, 250);">
    {{ calendar }}
</div>
{% endblock %}
